@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@section footerJS{
    @*<script src="~/Assets/client/map/markers.js"></script>*@
    <script src="~/Assets/client/map/leaf-demo.js"></script>
    var Cerfiticates = (List<Certificate>
        )ViewBag.Certificates;
}

<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Cluster Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="~/Assets/admin/libs/leaflet/dist/leaflet.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet" />

    <script src="~/Assets/admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/admin/libs/leaflet/dist/leaflet.js"></script>
    <script src="~/Assets/admin/libs/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <div class="grid-form1">
        <h3>Form Element</h3>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="checkbox" class="col-sm-2 control-label">Checkbox Inline</label>
                        <div class="col-sm-8">
                            <div class="checkbox-inline"><label><input type="checkbox"> Unchecked</label></div>
                            <div class="checkbox-inline"><label><input type="checkbox" checked=""> Checked</label></div>
                            <div class="checkbox-inline"><label><input type="checkbox" disabled=""> Disabled Unchecked</label></div>
                            <div class="checkbox-inline"><label><input type="checkbox" disabled="" checked=""> Disabled Checked</label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="focusedinput" class="col-sm-2 control-label">Focused Input</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1" id="focusedinput" placeholder="Default Input">
                        </div>
                        <div class="col-sm-2">
                            <p class="help-block">Your help text!</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h1>Leaflet Cluster Example</h1>
    <p>
        Here's an interactive map indicating where airports and train stations are located around the world.  The data comes from <a href="http://openflights.org/data.html" target="_blank">OpenFlights.org</a>.
    </p>
    <div id="map" style="width: 1000px; height: 400px; border: 1px solid #AAA;"></div>
    <div>
        <p>An example of how to use <a href="https://github.com/Leaflet/Leaflet.markercluster" target="_blank">Leaflet.markercluster</a>.</p>
        <p>From the article <a href="https://asmaloney.com/2015/06/code/clustering-markers-on-leaflet-maps" target="_blank">Clustering Markers On Leaflet Maps</a></p>
        <p>
            Andy Maloney // <a href="https://asmaloney.com" target="_blank">asmaloney.com</a>
        </p>
        <br />10 June 2015

        <p>
            <b>[16 Jul 2016]</b> Switched to Leaflet 0.7.7.
        </p>
    </div>
</body>
</html>