<connectionStrings>
  <clear />
  <add name="BTSConnection" connectionString="data source=OPTIPLEX3020SFF\SQLSERVER2012;initial catalog=Kiemdinh;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--<add name="BTSConnection" connectionString="data source=E6410-PC;initial catalog=Kiemdinh;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>