<connectionStrings>
  <clear />
  <!--<add name="BTSConnection" connectionString="data source=VCC2-401;initial catalog=BTS;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="BTSConnection" connectionString="data source=OPTIPLEX3020SFF;initial catalog=BTS;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="BTSConnection" connectionString="data source=OPTIPLEX3020SFF\SQLSERVER2012;initial catalog=BTS_Test;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="BTSConnection" connectionString="data source=E6410-PC;initial catalog=Kiemdinh;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="ApplicationServices" connectionString="data source=(localdb)\mssqllocaldb;integrated security=SSPI;attachdbfilename=|DataDirectory|\aspnetdb.mdf" providerName="System.Data.SqlClient" />-->
  <!--<add name="NWindConnectionString" connectionString="data source=(localdb)\mssqllocaldb;attachdbfilename=|DataDirectory|\NWind.mdf;integrated security=True;connect timeout=120" providerName="System.Data.SqlClient" />-->  
  <add name="BTSConnection" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.10.5;user id=Vcc2;Password=Vcc2P@ssword;database=BTS;CharSet=utf8;Persist Security Info=True"/>
  <!--<add name="BTSConnection" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.10.202;user id=Vcc2;Password=Vcc2P@ssword;database=BTS;CharSet=utf8;Persist Security Info=True"/>-->
</connectionStrings>