@using BTS.Common
@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<table class="table table-condensed MyDataTable" id="MyDataTable">
    <thead>
        <tr>
            <th>
                Stt
            </th>
            <th>
                Đơn vị
            </th>
            <th>
                Tài liệu
            </th>
            <th>
                File dữ liệu mẫu
            </th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
            <td>0</td>
            <td>TTĐLCLVT</td>
            <td>
                <a href="~/AppFiles/Samples/Bao cao de tai KHCN.pdf">Báo cáo kết quả dề tài</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/Bao cao de tai KHCN.pdf">Bao cao de tai KHCN.pdf</a>
            </td>
        </tr>*@
        <tr>
            <td>1</td>
            <td>TTĐLCLVT</td>
            <td>
                <a href="~/AppFiles/Samples/Huong dan su dung phan mem.pdf">Hướng dẫn sử dụng phần mềm</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/Huong dan su dung phan mem.pdf">Huong dan su dung phan mem.pdf</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>TTĐLCLVT</td>
            <td>
                <a href="~/AppFiles/Samples/Huong dan chuyen doi chuan hoa du lieu.pdf">Hướng dẫn chuyển đổi và chuẩn hóa dữ liệu</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/Huong dan chuyen doi chuan hoa du lieu.pdf">Huong dan chuyen doi chuan hoa du lieu.pdf</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>TTĐLCLVT</td>
            <td>
                <a href="~/AppFiles/Samples/TT_Data_Congbo.xlsx">File mẫu dữ liệu Doanh nghiệp công bố các trạm gốc BTS không phải kiểm định</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT_Data_Congbo.xlsx">TT_Data_Congbo.xlsx</a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>TT 1</td>
            <td>
                <a href="~/AppFiles/Samples/TT1_Data_Goc.xls">TT1 File mẫu dữ liệu kiểm dịnh</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT1_Data_Goc.xls">TT1_Data_Goc.xls</a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>TT 1</td>
            <td>
                <a href="~/AppFiles/Samples/TT1_Data_Bosung.xls">TT1 File chứa thông tin cần bổ sung</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT1_Data_Bosung.xls">TT1_Data_Bosung.xls</a>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>TT 1</td>
            <td>
                <a href="~/AppFiles/Samples/TT1_Data_Ketqua.xlsm">TT1 Công cụ chuẩn hóa và chuyển đổi dữ liệu kiểm định</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT1_Data_Ketqua.xlsm">TT1_Data_Ketqua.xlsm</a>
            </td>
        </tr>
        @*<tr>
            <td>5</td>
            <td>TT 2</td>
            <td>
                <a href="~/AppFiles/Samples/TT2_Data_Goc.xls">TT2 File mẫu dữ liệu kiểm dịnh</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT2_Data_Goc.xls">TT2_Data_Goc.xls</a>
            </td>
        </tr>*@
        <tr>
            <td>7</td>
            <td>TT 2</td>
            <td>
                <a href="~/AppFiles/Samples/TT2_Data_Ketqua.xlsm">TT2 Công cụ chuẩn hóa và chuyển đổi dữ liệu kiểm định</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT2_Data_Ketqua.xlsm">TT2_Data_Ketqua.xlsm</a>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>TT 3</td>
            <td>
                <a href="~/AppFiles/Samples/TT3_Data_Goc.xls">TT3 File mẫu dữ liệu kiểm dịnh</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT3_Data_Goc.xls">TT3_Data_Goc.xls</a>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>TT 3</td>
            <td>
                <a href="~/AppFiles/Samples/TT3_Data_Bosung.xlsm">TT3 File chứa thông tin cần bổ sung</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT3_Data_Bosung.xlsm">TT3_Data_Bosung.xlsm</a>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>TT 3</td>
            <td>
                <a href="~/AppFiles/Samples/TT3_Data_Ketqua.xlsm">TT3 Công cụ chuẩn hóa và chuyển đổi dữ liệu kiểm định</a>
            </td>
            <td>
                <a href="~/AppFiles/Samples/TT3_Data_Ketqua.xlsm">TT3_Data_Ketqua.xlsm</a>
            </td>
        </tr>
    </tbody>
</table>