@using BTS.Common
@using BTS.Web.Infrastructure.Extensions
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    @if (User.Identity.IsAuthenticated == true)
    {
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <a href="/ApplicationUserProfile/">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=@User.Identity.getImagePath() class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p><b>@User.Identity.Name</b></p>
                        <i class="fa fa-circle text-success"></i> Online
                    </div>
                </div>
            </a>
            <!-- search form -->
            @*<form action="#" method="get" class="sidebar-form">
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>*@
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENU</li>
                @if (User.IsInRole(CommonConstants.System_CanView_Role))
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-circle"></i> <span>Hệ thống</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/ApplicationUser/"><i class="fa fa-circle-o"></i> Người dùng</a></li>
                            <li><a href="/ApplicationGroup/"><i class="fa fa-circle-o"></i> Nhóm người dùng</a></li>
                            <li><a href="/ApplicationRole/"><i class="fa fa-circle-o"></i> Quyền sử dụng</a></li>
                            @if (User.IsInRole(CommonConstants.System_CanImport_Role))
                            {
                                <li><a href="/ImportUser/"><i class="fa fa-circle-o"></i> Nhập Người dùng</a></li>
                            }
                            <li><a href="/Config/"><i class="fa fa-circle-o"></i> Cấu hình Hệ thống</a></li>
                            <li><a href="/Error/"><i class="fa fa-circle-o"></i> Nhật ký Lỗi </a></li>
                            @*<li><a href="/Licence/"><i class="fa fa-circle-o"></i> Bản quyền sử dụng</a></li>*@
                        </ul>
                    </li>
                }

                @if (User.IsInRole(CommonConstants.Data_CanView_Role))
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-archive-o"></i> <span>Khai báo dữ liệu</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/InCaseOf/"><i class="fa fa-circle-o"></i> Trường hợp Kiểm định</a></li>
                            <li><a href="/City/"><i class="fa fa-circle-o"></i> Tỉnh/ Thành phố</a></li>
                            <li><a href="/District/"><i class="fa fa-circle-o"></i> Quận/ Huyện</a></li>
                            <li><a href="/Ward/"><i class="fa fa-circle-o"></i> Phường/ Xã</a></li>
                            <li><a href="/Lab/"><i class="fa fa-circle-o"></i> Đơn vị đo kiểm</a></li>
                            <li><a href="/Operator/"><i class="fa fa-circle-o"></i> Nhà mạng di động</a></li>
                            <li><a href="/Applicant/"><i class="fa fa-circle-o"></i> Đơn vị nộp hồ sơ</a></li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(CommonConstants.Data_CanImport_Role))
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-archive-o"></i> <span>Đăng tải Hồ sơ kiểm định</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/ImportData"><i class="fa fa-circle-o"></i>Upload Hồ sơ KĐ đã xử lý</a></li>
                            @*<li><a href="/ImportData/Area"><i class="fa fa-circle-o"></i>Nhập Quận/Huyện Phường/Xã</a></li>
                            <li><a href="/ImportData/Equipment"><i class="fa fa-circle-o"></i>Nhập Thiết bị</a></li>*@
                        </ul>
                    </li>
                }

                @if (User.IsInRole(CommonConstants.Data_CanView_Role))
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i> <span>Hồ sơ Kiểm định</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Profile/"><i class="fa fa-circle-o"></i> Đơn đề nghị Kiểm định</a></li>
                            @*<li><a href="/BTS/"><i class="fa fa-circle-o"></i> Trạm BTS đã tiếp nhận</a></li>
                                <li><a href="/Inspect/"><i class="fa fa-circle-o"></i> Báo cáo thẩm định cấp Giấy CNKĐ</a></li>*@
                            <li><a href="/Certificate/"><i class="fa fa-circle-o"></i> Giấy CNKĐ dã cấp</a></li>
                            <li><a href="/NoCertificate/"><i class="fa fa-circle-o"></i> Trạm BTS Không cấp Giấy CNKĐ</a></li>
                        </ul>
                    </li>
                }

                @*if (User.IsInRole(CommonConstants.Data_CanImport_Role))
                {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Cập nhật Hồ sơ KĐ</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">3</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        if (User.IsInRole(CommonConstants.Data_CanImport_Role))
                        {
                        <li><a href="/ImportData"><i class="fa fa-circle-o"></i>Nhập liệu Hồ sơ KĐ</a></li>
                        <li><a href="/ImportData/Area"><i class="fa fa-circle-o"></i>Nhập Quận/Huyện Phường/Xã</a></li>
                        <li><a href="/ImportData/Equipment"><i class="fa fa-circle-o"></i>Nhập Thiết bị</a></li>
                        }
                    </ul>
                </li>
                }*@


                @if (User.IsInRole(CommonConstants.Data_CanViewReport_Role))
                {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <span>Tra cứu, báo cáo</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">3</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Certificate/"><i class="fa fa-circle-o"></i>Tra cứu Giấy CNKĐ đã cấp</a></li>
                        <li><a href="/NoCertificate/"><i class="fa fa-circle-o"></i>Tra cứu BTS Không cấp Giấy CNKĐ</a></li>
                        @if (User.IsInRole(CommonConstants.Info_CanViewDetail_Role))
                        {
                            @*<li><a href="/Check/"><i class="fa fa-circle-o"></i>Kiểm tra tình trạng KĐ trạm BTS</a></li>*@
                        }
                        @if (User.IsInRole(CommonConstants.Data_CanViewReport_Role))
                        {
                            <li><a href="/Report/"><i class="fa fa-circle-o"></i>Báo cáo hàng tháng</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/Statistics/"><i class="fa fa-circle-o"></i>Báo cáo thống kê</a></li>
                        }

                    </ul>
                </li>
                }


                @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Cấu hình giao diện</span>
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">4</span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="pages/widgets.html">
                            <i class="fa fa-th"></i> <span>Widgets</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>Charts</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>UI Elements</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                            <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                            <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                            <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                            <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Tables</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                            <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="pages/calendar.html">
                            <i class="fa fa-calendar"></i> <span>Calendar</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-red">3</small>
                                <small class="label pull-right bg-blue">17</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/mailbox/mailbox.html">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-yellow">12</small>
                                <small class="label pull-right bg-green">16</small>
                                <small class="label pull-right bg-red">5</small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Examples</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                            <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                            <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                            <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                            <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                            <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                            <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                            <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Multilevel</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Level One
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Level Two
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        </ul>
                    </li>
                    <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                    <li class="header">LABELS</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
            </ul>
        </section>
    }
    <!-- /.sidebar -->
</aside>