<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <div class="pull-left">
        <strong>Bản quyền &copy; 2018 - Trung tâm Kiểm định và Chứng nhận 2 - Cục Viễn thông.</strong>
        reserved.
    </div>
    <br />
</footer>