@using BTS.Common
@using BTS.Web.Infrastructure.Extensions
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <a href="/ApplicationUserProfile/">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src=@User.Identity.getImagePath() class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p><b>@User.Identity.Name</b></p>
                    <i class="fa fa-circle text-success"></i> Online
                </div>
            </div>
        </a>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            @if (User.IsInRole(CommonConstants.System_CanView_Role))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-circle"></i> <span>Hệ thống</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="/Admin/ApplicationUser/"><i class="fa fa-circle-o"></i> Người dùng</a></li>
                        <li><a href="/Admin/ApplicationGroup/"><i class="fa fa-circle-o"></i> Nhóm người dùng</a></li>
                        <li><a href="/Admin/ApplicationRole/"><i class="fa fa-circle-o"></i> Quyền sử dụng</a></li>
                        @if (User.IsInRole(CommonConstants.System_CanImport_Role))
                        {
                            <li><a href="/ImportUser/"><i class="fa fa-circle-o"></i> Nhập Người dùng</a></li>
                        }
                        <li><a href="/Licence/"><i class="fa fa-circle-o"></i> Bản quyền sử dụng</a></li>
                    </ul>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>