<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<add name="BTSConnection" connectionString="data source=DESKTOP-G03RV6D;initial catalog=BTS;persist security info=True;user id=sa;password=Vcc2P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<!--<add name="BTSConnection" connectionString="data source=OPTIPLEX3020SFF;initial catalog=BTS;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="BTSConnection" connectionString="data source=OPTIPLEX3020SFF\SQLSERVER2012;initial catalog=BTS_Test;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="BTSConnection" connectionString="data source=E6410-PC;initial catalog=Kiemdinh;persist security info=True;user id=sa;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="ApplicationServices" connectionString="data source=(localdb)\mssqllocaldb;integrated security=SSPI;attachdbfilename=|DataDirectory|\aspnetdb.mdf" providerName="System.Data.SqlClient" />-->
		<!--<add name="NWindConnectionString" connectionString="data source=(localdb)\mssqllocaldb;attachdbfilename=|DataDirectory|\NWind.mdf;integrated security=True;connect timeout=120" providerName="System.Data.SqlClient" />-->

		<!--For MySQL-->
		<!--<add name="BTSConnection" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.10.5;user id=Vcc2;Password=Vcc2P@ssword;database=BTS;CharSet=utf8;Persist Security Info=True"/>-->
		<!--<add name="BTSConnection" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.10.202;user id=Vcc2;Password=Vcc2P@ssword;database=BTS;CharSet=utf8;Persist Security Info=True"/>-->
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0" />
			</dependentAssembly>-->
		</assemblyBinding>
	</runtime>
	
	<!--For MySQL-->
	<!--<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</providers>
	</entityFramework>-->

	<!--For SQL Server-->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	
</configuration>