@using BTS.Common
@{
    ViewBag.Title = "Certificate";
    Layout = "~/Views/Shared/Layouts_DataTable_Export_Map_PivotTable.cshtml";
    IEnumerable<BTS.Web.Models.CityViewModel> cities = ViewBag.cities;
}

@section headCSS{
}

@section footerJS{
    <script src="~/Assets/client/js/common/myMap.js"></script>
    <script src="~/Assets/client/js/controllers/homeController.js"></script>    
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <!-- SELECT2 EXAMPLE -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="BTS-title">THÔNG TIN CÁC TRẠM GỐC BTS ĐÃ ĐƯỢC CẤP GIẤY CHÚNG NHẬN KIỂM ĐỊNH CÒN HIỆU LỰC</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="clearfix"></div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "__AjaxAntiForgeryForm", data_resetUrl = Url.Action("Add", "Certificate") }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CityID">
                                        Tỉnh/Thành phố<span class="required"></span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id="SelCityID" name="SelCityID" class="form-control">
                                            <option value="@CommonConstants.SelectAll" selected="selected">Tất cả</option>
                                            @foreach (var item in cities)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button class="btn btn-primary" type="button" id="btnReset">Bỏ lọc</button>
                                        <input class="btn btn-success" type="button" id="btnSearch" value="Thực hiện" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div id="mapBTS" style="width: 100%; height: 500px;"></div>
    </section>
</div>