table.dataTable tbody tr.selected {
    background: rgba(38, 185, 154, 0.16);
}

    table.dataTable tbody tr.selected td {
        border-top: 1px solid rgba(38, 185, 154, 0.4);
        border-bottom: 1px solid rgba(38, 185, 154, 0.4);
    }

td.details-control {
    background: url('/AppFiles/Resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/AppFiles/Resources/details_close.png') no-repeat center center;
}

.MyDataTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
    border-collapse: collapse;
    width: 100%;
}


    .MyDataTable a {
        color: blue;
    }

    .MyDataTable tr:nth-child(even) {
        background-color: #f5ebb8;
    }

    .MyDataTable tr:hover{
        background-color: #73edf1;
    }

    .MyDataTable th, .MyDataTable_wrapper th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #1069a9;
        color: white;
        border: 1px solid #ddd;
        font-weight: bold;
    }

    .MyDataTable td {
        border: 1px solid #ddd;
        padding: 4px;
        font-weight: bold;
    }